cctv.oxlet.org {
	reverse_proxy :8971
}

ha.oxlet.org {
	reverse_proxy :8123
}

z2m.oxlet.org {
	basic_auth {
		ripytide $2a$14$M05UcvxHxty2JXKQFvBMu.g.hWlxJcpni/I1Po6hmimb2hJdn0doW
	}

	reverse_proxy :1234
}

lms.oxlet.org {
	basic_auth {
		ripytide $2a$14$M05UcvxHxty2JXKQFvBMu.g.hWlxJcpni/I1Po6hmimb2hJdn0doW
	}

	reverse_proxy :9000
}

router.oxlet.org {
	reverse_proxy 192.168.188.1:80
}

slzb.oxlet.org {
	basic_auth {
		ripytide $2a$14$M05UcvxHxty2JXKQFvBMu.g.hWlxJcpni/I1Po6hmimb2hJdn0doW
	}

	reverse_proxy 192.168.188.18:80
}

photos.oxlet.org {
	reverse_proxy :2283
}

gotify.oxlet.org {
	reverse_proxy :8484
}
