[user]
	email = james.forsterer@gmail.com
	name = ripytide
	signingkey = 459BC3A0DE88C984
[color]
	ui = true
[core]
	pager = delta
	;excludesfile = /home/ripytide/sync/.gitignore
[credential]
	helper = cache
[cola]
	spellcheck = true
	tabwidth = 4
	hidpi = 1.5
	theme = flat-dark-red
	icontheme = dark
	statusshowtotals = true
	startupmode = folder
[commit]
	gpgsign = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[pull]
	rebase = true
