configuration {
	modi: "drun,run,window,ssh,keys";
	width: 30;
	lines: 10;
	font: "fira code 16";
	monitor: "$MONITOR";
	show-icons: true;
	terminal: "kitty";
	matching: "normal";
	drun-display-format: "{name}";
	hide-scrollbar: true;
	display-drun: ">>>";
}
