configuration {
	modi: "drun,run,window,ssh,keys";
	width: 30;
	lines: 10;
	font: "fira code 16";
!monitor
	show-icons: true;
	terminal: "st";
	drun-display-format: "{name}";
	hide-scrollbar: true;
	display-drun: ">>>";
}
@import "/usr/share/rofi/themes/gruvbox-dark.rasi"
