[Unit]
Description=Frp Client Service
After=network.target
Wants=network.target

[Service]
Type=exec
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/frpc -c /etc/frp/frpc.toml

[Install]
WantedBy=multi-user.target
