[Service]
WorkingDirectory=/home/ripytide
ExecStart=bash -c "/home/ripytide/.cargo/bin/kanata --cfg /home/ripytide/.config/kanata/kanata.kbd"
Restart=always

[Install]
WantedBy=multi-user.target
